<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>
<body class="bg-gray-900 min-h-screen flex flex-col items-center p-6 font-sans">

    <div class="w-full max-w-4xl bg-gray-800 rounded-xl shadow-md p-6">
        <h2 class="text-3xl font-bold text-center text-gray-400 mb-6"> All Categories</h2>

        <div class=" mb-4">
            <a href="{% url 'category_create' %}"
               class="text-white hover:bg-blue-700 text-right inline-block p-2 rounded-md">
               Create New Category
            </a>
        </div>  

        <ul class="space-y-4">
            {% for i in categories %}
                <li class="border rounded-lg p-4 bg-gray-800 ">
                    <h3 class="text-xl  font-semibold text-gray-400 mb-2">{{ i.name }}</h3>

                    <div class="space-x-4 sm:inline text-gray-400">
                        <a href="{% url 'category_update' i.pk %}"> Edit</a>
                        <a href="{% url 'category_delete' i.pk %}"> Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>