<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All categories </h2>
    <a href="{% url 'category_create' %}">Create New categorie</a>
    <ul>
        {% for i in categories %}
            <li>
                {{ i.name }} — {{ i.descriptions }}
                <a href="{% url 'category_update' i.pk %}">Edit</a>
                <a href="{% url 'category_delete' i.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>